apiVersion: batch/v1
kind: Job
metadata:
  name: apply-ddl
  namespace: knight-club
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: mysql-client
          image: mysql:8.0
          command: ["sh","-lc"]
          args:
            - mysql -hmysql -uroot -p"$MYSQL_ROOT_PASSWORD" < /init/initdb.sql
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secrets
                  key: MYSQL_ROOT_PASSWORD
          volumeMounts:
            - name: init-sql
              mountPath: /init
      volumes:
        - name: init-sql
          configMap:
            name: mysql-init-sql
